
<div class="container mx-auto">
    <div>
        <h1 class="text-center font-Oswald mt-8 pt-4 uppercase text-6xl font-semibold">Our History</h1>
        <img src="socfam.png" class="text-center mx-auto px-[120px] py-7">

        <div class="px-[120px] text-justify text-[18px] font-medium">
            <p class="mb-5">In 1993, Holy Angel University (HAU) launched its first 2-year Associate Program in Computer Technology, followed by government recognition in 1995. The College of Arts and Sciences (CAS), under Dean Liwayway Perez and Chairperson Carlo Sunga, later introduced the Bachelor of Science in Computer Science (BSCS) in 1996. Over the years, the university expanded its offerings with programs such as the Bachelor of Science in Information Technology (BSIT) and Information Management (BSIM) in 2000. By SY 2008-2009, the College of Information and Communications Technology (CICT) began offering specialized tracks in Systems Development, Network Administration, and Multimedia Technology. The college also moved to the newly constructed Saint Joseph Hall (SJH) in 2010, which houses state-of-the-art computer laboratories and classrooms to accommodate the growing student population.</p>

            <p class="mb-5">The School of Computing (SoC) at HAU aims to meet the diverse needs of the IT industry by producing skilled graduates in fields such as software development, cybersecurity, multimedia, and data analytics. Through strategic partnerships with leading technology organizations like Red Hat, CompTIA, EC-Council, AWS, and Hack the Box, the school offers specialized courses and certifications to enhance students' professional development. The SoC is committed to excellence in computing education, continually improving faculty expertise and facilities to ensure its students are prepared for success in the ever-evolving field of technology. With a strong focus on excellence, community outreach, cybersecurity, and innovation, HAU’s School of Computing continues to contribute in raising the standard of education in the region.</p>
    
        </div>
    </div>

    <div class="px-[120px]">
        <div class="py-4">
            <div class="py-5">
                <div class="flex flex-wrap justify-end">
                    <div class="lg:w-1/2 md:w-full w-full">
                        <img src="mission.png" class="w-full h-auto" alt="">
                    </div>
        
                    <div class="lg:w-1/2 md:w-full w-full lg:px-10 sm:px-5">
                        <div class="py-4 px-2">
                            <h1 class="text-start font-Oswald mt-8 pt-4 uppercase text-6xl font-semibold mb-8">Mission</h1>
                            <h1 class="text-xl font-medium text-justify mb-3">To offer quality education and produce technically-competent and globally competitive professionals who are self-reliant, morally and spiritually upright, adaptive to current and emerging technologies, and who contribute to community building. </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="px-[120px]">
        <div class="py-4">
            <div class="py-5">
                <div class="flex flex-wrap justify-end">
                    <div class="lg:w-1/2 md:w-full w-full lg:px-10 sm:px-5">
                        <div class="py-4 px-2">
                            <h1 class="text-end font-Oswald mt-8 pt-4 uppercase text-6xl font-semibold mb-8">Vision</h1>
                            <h1 class="text-xl font-medium text-justify mb-3">A Center of Excellence in ICT education through relevant curricular programs implemented by highly competent individuals who engage in research and countryside development and supported by the industry and state-of-the-art facilities. </h1>
                        </div>
                    </div>

                    <div class="lg:w-1/2 md:w-full w-full">
                        <img src="vision.png" class="w-full h-auto" alt="">
                    </div>                    
                </div>
            </div>
        </div>
    </div>

    <div class="px-[120px]">
        <div class="py-4">
            <div class="py-5">
                <div class="flex flex-wrap justify-end">
                    <div class="lg:w-1/2 md:w-full w-full">
                        <img src="goals.png" class="w-full h-auto" alt="">
                    </div>
        
                    <div class="lg:w-1/2 md:w-full w-full lg:px-10 sm:px-5">
                        <div class="py-4 px-2">
                            <h1 class="text-start font-Oswald mt-8 pt-4 uppercase text-6xl font-semibold mb-8">Goals</h1>
                            <h1 class="text-xl font-medium text-justify mb-3">Our goal is to make sure that our programs are fit for purpose through a strong faculty profile, solid partnership with the industry and high impact community development programs.</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="px-[120px]">
        <div class="py-4">
            <div class="py-5">
                <div class="flex flex-wrap justify-end">
                    <div class="lg:w-1/2 md:w-full w-full lg:px-10 sm:px-5">
                        <div class="py-4 px-2">
                            <h1 class="text-end font-Oswald uppercase text-6xl font-semibold mb-6">Objectives</h1>
                            <ul class="list-disc text-[14px] text-justify font-medium">
                                <li class="mb-1">
                                    To equip students with ICT knowledge and skills necessary for active participation in the production and utilization of innovative systems and applications that adhere to ethical standards
                                </li>

                                <li class="mb-1">
                                    To enhance the professional competence of faculty members dedicated to deliver quality instruction, scholarly research outputs and need-based community service
                                </li>

                                <li class="mb-1">
                                    To establish linkages/partnerships with reputable organizations for service-learning opportunities to ensure relevant and responsive programs offerings
                                </li>

                                <li class="mb-1">
                                    To engage students, faculty and administrators in community service through the provision as well as transfer of ICT skills to partner groups/communities
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="lg:w-1/2 md:w-full w-full">
                        <img src="objectives.png" class="w-full h-auto" alt="">
                    </div>                    
                </div>
            </div>
        </div>
    </div>

</div>
