<div class="container mx-auto">
    <h1 class="text-center my-5 pt-5 uppercase text-6xl font-semibold font-Oswald">Program Offerings</h1>

    <div>
        <h3 class="text-center mb-2 pt-4 uppercase text-5xl font-semibold">Undergraduate</h3>
        <div class="flex flex-wrap justify-center">

            <!-- card 1 -->
            <div class="p-4 max-w-md">
                <div class="card border-solid border rounded-lg bg-[#ffffff] shadow-lg h-full">
                    <div class="flex flex-col text-center">
                        <div class="rounded-md overflow-hidden">
                            <img src="webdev.png" alt="">
                        </div>

                        <h5 class="mt-3 font-Oswald text-[22px] uppercase font-medium px-6">Bachelor of Science in
                            Information Technology With Area of Specialization in Web Development</h5>

                        <div class="my-5">
                            <button type="button"
                                class="text-white bg-[#B7B7B7] items-center font-bold rounded-none text-md px-10 py-2 me-2 mb-2 border uppercase ">Learn more</button>
                        </div>

                    </div>
                </div>
            </div>

            <!-- card 2 -->
            <div class="p-4 max-w-md">
                <div class="card border-solid border rounded-lg bg-[#ffffff] shadow-lg h-full">
                    <div class="flex flex-col text-center">
                        <div class="rounded-md overflow-hidden">
                            <img src="netad.png" alt="">
                        </div>

                        <h5 class="mt-3 font-Oswald text-[21px] uppercase font-medium px-6">Bachelor of Science in
                            Information Technology With Area of Specialization in Network Administration</h5>

                        <div class="my-5">
                            <button type="button"
                                class="text-white bg-[#B7B7B7] items-center font-bold rounded-none text-md px-10 py-2 me-2 mb-2 border uppercase ">Learn more</button>
                        </div>

                    </div>
                </div>
            </div>


            <!-- card 3 -->
            <div class="p-4 max-w-md">
                <div class="card border-solid border rounded-lg bg-[#ffffff] shadow-lg h-full">
                    <div class="flex flex-col text-center">
                        <div class="rounded-md overflow-hidden">
                            <img src="emc.png" alt="">
                        </div>

                        <h5 class="mt-3 font-Oswald text-[24px] uppercase font-medium px-6">Bachelor of Science in
                            Entertainment and Multimedia Computing</h5>

                        <div class="my-5">
                            <button type="button"
                                class="text-white bg-[#B7B7B7] items-center font-bold rounded-none text-md px-10 py-2 me-2 mb-2 border uppercase ">Learn more</button>
                        </div>

                    </div>
                </div>
            </div>

            <!-- card 4 -->
            <div class="p-4 max-w-md">
                <div class="card border-solid border rounded-lg bg-[#ffffff] shadow-lg h-full">
                    <div class="flex flex-col text-center">
                        <div class="rounded-md overflow-hidden">
                            <img src="comsci.png" alt="">
                        </div>

                        <h5 class="mt-3 font-Oswald text-[26px] uppercase font-medium px-6">Bachelor of Science in
                            Computer Science</h5>

                        <div class="my-5">
                            <button type="button"
                                class="text-white bg-[#B7B7B7] items-center font-bold rounded-none text-md px-10 py-2 me-2 mb-2 border uppercase ">Learn more</button>
                        </div>

                    </div>
                </div>
            </div>


            <!-- card 5 -->
            <div class="p-4 max-w-md">
                <div class="card border-solid border rounded-lg bg-[#ffffff] shadow-lg h-full">
                    <div class="flex flex-col text-center">
                        <div class="rounded-md overflow-hidden">
                            <img src="cyb.png" alt="">
                        </div>

                        <h5 class="mt-3 font-Oswald text-[26px] uppercase font-medium px-6">Bachelor of Science in
                            Cybersecurity</h5>

                        <div class="my-5">
                            <button type="button"
                                class="text-white bg-[#B7B7B7] items-center font-bold rounded-none text-md px-10 py-2 me-2 mb-2 border uppercase ">Learn more</button>
                        </div>

                    </div>
                </div>
            </div>


            <!-- card 6 -->
            <div class="p-4 max-w-md">
                <div class="card border-solid border rounded-lg bg-[#ffffff] shadow-lg h-full">
                    <div class="flex flex-col text-center">
                        <div class="rounded-md overflow-hidden">
                            <img src="cyb-w-masters.png" alt="">
                        </div>

                        <h5 class="mt-3 font-Oswald text-[22px] uppercase font-medium px-6">Bachelor of Science in Cyber
                            Security + Professional Science in Master’s in CyberSecurity</h5>

                        <div class="my-5">
                            <button type="button"
                                class="text-white bg-[#B7B7B7] items-center font-bold rounded-none text-md px-10 py-2 me-2 mb-2 border uppercase ">Learn more</button>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="flex justify-center my-6 items-center">
            <button type="button"
                class="text-white bg-[#ffb000] items-center font-bold rounded-none text-lg px-20 py-5 me-2 mb-2 border uppercase ">Apply
                Now</button>
        </div>

    </div>

    <div class="mb-10">
        <h3 class="text-center mb-3 pt-4 uppercase text-5xl font-semibold">Graduate</h3>
        <div class="flex flex-wrap justify-center">

            <!-- card 1 -->
            <div class="p-4 max-w-md">
                <div class="card border-solid border rounded-lg bg-[#ffffff] shadow-lg h-full">
                    <div class="flex flex-col text-center">
                        <div class="rounded-md overflow-hidden">
                            <img src="masters-it.png" alt="">
                        </div>

                        <h5 class="mt-3 font-Oswald text-[26px] uppercase font-medium px-6">Master in Information
                            Technology</h5>

                        <div class="my-5">
                            <button type="button"
                                class="text-white bg-[#B7B7B7] items-center font-bold rounded-none text-md px-10 py-2 me-2 mb-2 border uppercase ">Learn more</button>
                        </div>

                    </div>
                </div>
            </div>


            <!-- card 2 -->
            <div class="p-4 max-w-md">
                <div class="card border-solid border rounded-lg bg-[#ffffff] shadow-lg h-full">
                    <div class="flex flex-col text-center">
                        <div class="rounded-md overflow-hidden">
                            <img src="pro-cyb-masters.png" alt="">
                        </div>

                        <h5 class="mt-3 font-Oswald text-[26px] uppercase font-medium px-6">Professional Science
                            Master's in Cybersecurity</h5>

                        <div class="my-5">
                            <button type="button"
                                class="text-white bg-[#B7B7B7] items-center font-bold rounded-none text-md px-10 py-2 me-2 mb-2 border uppercase ">Learn more</button>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="flex justify-center my-6 items-center">
            <button type="button"
                class="text-white bg-[#ffb000] items-center font-bold rounded-none text-lg px-20 py-5 me-2 mb-2 border uppercase ">Apply
                Now</button>
        </div>

    </div>
</div>